@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: #F4D04E;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
    background-color: white;
    /* width: 100%; */
    border-radius: 20px;
    padding: 24px;
    border: 1px solid var(--color-gray-950, #111111);
    box-shadow: 8px 8px 0px 0px #000000;

}

.card img{
    width: 312px;
    height: 200px;
    border-radius: 10px;

}

.learn{
    font-size: 14px;
    background-color: #F4D04E;
    height: 29px;
    width: 82px;
    padding: 5px;
    margin-top: 24px;
    border-radius: 4px;
    text-align: center;
    font-weight: 800;
}

.pub{
    font-size: 14px;
    margin-top: 12px;
    font-weight: 500;
    line-height: 150%;
}

.card h1{
    font-size: 1.2rem;
    margin-top: 12px;
}

.card h1:hover{
    color: #F4D04E;
    cursor: pointer;
}

.text{
    font-size: 16px;
    margin-top: 12px;
    color: #6B6B6B;
    font-weight: 500;
}

.author{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
    margin-top: 24px;
}

.author img{
    width: 32px;
    height: 32px;
}

.author p{
    padding: 5px;
    font-weight: 800;
    text-align: center;
    font-style: bold;
}

.attribution { 
    margin-top: 25px;
    font-weight: 900;
    font-size: 11px; text-align: center; 
}
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }